.AddExpenseForm {
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    width: 60%;
    text-align: center;
    margin: 5% auto;
    font-size: 25px;
}

.AddExpenseForm__Options {
    display: inline-block;
    margin: 5% 1%;
}
input, select {
    margin-left: 10px;
    border-radius: 5px;
    width: 11rem;
    height: 2rem;
}



.description {
    margin: 5%;
    border-radius: 10px;
}
.Textarea {
    width: 80%;
    height: 100px;
    margin: auto;
}