.AddExpenseForm {
    border: 1px solid black;
    border-radius: 10px;
    height: 550px;
    width: 75%;
    text-align: center;
    margin: 5% auto;
    font-size: 25px;

}

.AddExpenseForm__Options {
    display: block;
    margin: 15px auto;
    
}

.AddExpenseForm__label{
    display: block;
}

input, select {
    border-radius: 5px;
    width: 85%;
    height: 30px;
}

.description {
    margin: 15px;
    border-radius: 10px;
}
.Textarea {
    width: 80%;
    height: 100px;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .AddExpenseForm {
        width: 40%;
    }
    .AddExpenseForm__Options {
        display: inline-block;
        margin-top: 5%;
    }

    input, select {
        border-radius: 5px;
        width: 85%;
        height: 2rem;
    }


}

@media only screen and (min-width: 1024px) {
    .AddExpenseForm__Options {
        
        margin-top: 5%;
    }
}