.AddExpenseForm {
    width: 60%;
    height: 450px;
    margin: 50px auto;
    padding:50px;
    background-color:#EEE;
    color:#333;
    border:2px solid #C2D6FF;
    border-radius: 10px;

}

.AddExpenseForm__Options {
    display: block;
}



input#date, input#amount, select {
    width: 200px;
    height: 20px;
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;

}



#description {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 100px;
    padding: 3%;
}

.AddExpenseForm__button {
    margin-top: 20px;
    border-radius:5px;
    border:none;
    padding:10px 25px;
    color:#FFF;
    text-shadow:1px 1px 1px #949494; 
    background-color:#56B0FE;
}