.ExpenseList {
    text-align: center;
}

.ExpenseList__Filters {
    border-radius: 10px;
    width: 50%;
    margin: 15px 5%;
    display:flex;
    justify-content: space-between;
}

.ExpenseList_Options {
    margin-right: 10px;
}
.ExpenseList__Select {
    width: 30vw;
    margin: 2px;
}


@media only screen and (min-width: 768px) {
    .ExpenseList {
        text-align: center;
}
    .ExpenseList__Filters {
        border-radius: 10px;
        width: 50%;
        margin: 15px 19vw;
        display:flex;
        justify-content: space-between;
    }

    .ExpenseList__Select {
        margin-right: 10px;
        
    }

}
