.ExpenseList {
    text-align: center;
}
.ExpenseList__Filters {
    border-radius: 10px;
    width: 30%;
    margin-top: 5px;
    margin-left: 6vw;
    display:flex;
    justify-content: space-between;
}

.ExpenseList__Select {
    width: 30vw;
}


@media only screen and (min-width: 768px) {
    .ExpenseList {
        text-align: center;
}
    .ExpenseList__Filters {
        border-radius: 10px;
        width: 50%;
        margin: 15px 19vw;
        display:flex;
        justify-content: space-between;
    }

    .ExpenseList__Select {
        margin-right: 10px;
        
    }

}
