
 .expense-container {
    width: 80vw;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 15px;
    padding: 2%;
    font-family: Comic Sans MS;
    font-weight: 400;
} 


.expense-container a {
    color: black;
    }
 
.edit-delete {
    font-size: 25px;
    cursor: pointer;
    color: #1F85DE;
}
.edit-delete:hover {
    transform:scale(1.1); 
 
}
.button__edit-delete {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


@media only screen and (min-width: 768px) {
    .expense-container {
        width: 80vw;
        border: 1px solid black;
        border-radius: 15px;
        margin: 15px 15%;
        display: flex;
        padding: 0;
    }
    
    .expense-header {
        display: flex;
        justify-content: space-between;
        
    }
    .expense-item {
        padding: 1.5rem 2rem;
        width: 8vw; 
    }

    .edit-delete {
        height: 80px;
        margin-left: 15px;
    }

} 

@media only screen and (min-width: 1024px) {
    .expense-container {
        width: 70vw;

    }
    .edit-delete {
        margin-right: 15px;
        font-size: 30px;
    }
}



