.sidebar {
    position: fixed;
    background-color: #F6F6F6;
    border: 1px solid #C2C5C8;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    margin-top: 5%;
}

a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}


li {
    list-style-type: none;
    color: black;
    margin: 30px 15px;
}

 
@media only screen and (max-width: 425px) {
    .sidebar {
        margin-top: 65vh;
        margin-left: 30%;
    }
}