.sidebar {
    position: fixed;
    background-color: #F6F6F6;
    border: 1px solid #C2C5C8;
    border-radius: 5px;
    width: 12vw;
    height: 200px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


li {
    list-style-type: none;
    color: black;
    margin: 30px 15px;
}