.AddExpenseForm {
    width: 60%;
    height: 450px;
    margin: 50px auto;
    padding:50px;
    background: linear-gradient(to bottom right,#51dbe0 0,#12f38a);
    color:#333;
    border:2px solid #C2D6FF;
    border-radius: 10px;

}

.AddExpenseForm__Options {
    display: block;
}



input#date, input#amount,select {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 23px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    padding: 2%;

}

select{
    height: 30px;

}


#description {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 100px;
    padding: 2%;
    font-size: 14px;
}

.AddExpenseForm__button {
    margin-top: 20px;
    border-radius:5px;
    border:none;
    padding:10px 25px;
    color:#FFF;
    text-shadow:1px 1px 1px #949494; 
    background-color:#56B0FE;
    font-size: 18px;
}

.AddExpenseForm__button:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .AddExpenseForm {
        margin-left: 20%;
        width: 45%;
        

    }
    input#date, input#amount, select {
        width: 300px;
        height: 25px;
       padding: 0;

    }

    #description {
        width: 350px;

}
        
 
}

