
.Hyph {
  margin-right: 5px;
  margin-left: 5px;
}

.Input,
.Textarea {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-radius: 4px;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: vertical;
}

.Button {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.Required {
  color: #CA1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-left: 20px;
  margin-right: 20px;
}
.Section--list {
  margin-left: 10px;
  margin-right: 10px;
}

.Form {
  width: 60%;
  height: 450px;
  margin:100px auto 0;
  padding:50px;
  background: linear-gradient(to bottom right,#11beb6 0,#23d49f, #63ffd8);
  color:#333;
  border:2px solid #C2D6FF;
  border-radius:40px 0 40px 0
}

.Input2 {
  margin: auto auto;
  border:1px solid #DADADA;
  margin-top:20px;
  margin-bottom:10px;
  padding-left: 2%;
  height: 25px;
  width: 200px;
  box-shadow:0 0 8px;
  -webkit-box-shadow:0 0 8px;
  border-radius:5px;
  border:1px solid #cbcbcb;
}

.Button2 {
    margin-top: 20px;
    border-radius:5px;
    border:none;
    padding:10px 25px;
    color:#FFF;
    text-shadow:1px 1px 1px #949494; 
    background-color:#56B0FE;
    
}


.Button2:hover{
    background-color:#117FDF;
    cursor: pointer;
}




@media only screen and (min-width: 768px) {
      .Form {
        width: 350px;
        height: 500px;
    } 
      .Input2 {
        width: 250px;
      }
}